@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
            {
                <p>
                    Kargo Takip Kodu: @Html.TextBox("p")
                    <input type="submit" value="Ara" />
                </p>
            }
<br />
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Kargo Takip Kod</th>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.TakipKodu</td>
            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.Tarih</td>
            <td><a href="/Kargo/KargoTakip/@k.TakipKodu" class="btn btn-success">Detaylar</a></td>
        </tr>
        }

</table>
<a href="/Kargo/YeniKargo" class="btn btn-primary">Yeni Kargo Ekle</a>
